body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}


.first-container-img {
    background-image: url('https://expertizo.pk/assets/img/hero-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    margin: 0px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}


.tabs {
    display: flex;
    gap: 17px;
    list-style-type: none;
}

.menu {
    font-size: medium;
    font-family: "Nunito", sans-serif;
    color: #012970;
    font-weight: bold;
    border: 1px solid white;
    padding-bottom: 2px;
}

.menu:hover {
    border-bottom: 1px solid #4154F1;
    color: #4154F1;
}

#svg-menu:hover {
    fill: #4154F1;
}

.box-1 {
    display: flex;
    border: none;
}

.intro {
    width: 600px;
}

.heading1 {
    font-size: 50px;
    font-family: "Nunito", sans-serif;
    color: #012970;
    margin-top: 70px;
    font-weight: 600px;

}

.para1 {
    font-size: 27px;
    color: #444444;
    font-family: "Nunito", sans-serif;

}

.contact-btn {
    position: relative;
    height: 45px;
    width: 180px;
    background-color: #4154F1;
    color: white;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
    font-size: large;
    font-family: "Nunito", sans-serif;
    box-shadow: 1px 1px 20px #a2aaf2;

}

.contact-svg {
    position: absolute;
    top: 12.5px;
    left: 125px;
}

.contact-btn:hover .contact-svg {
    transform: translateX(3px);
    transition: all 0.8s ease;
}


.box-2 {
    display: flex;
    border: none;
    justify-content: space-between;

}

.go-to-top {
    position: sticky;
    border: none;
    border-radius: 5px;
    background-color: #4154F1;
    height: 40px;
    width: 40px;
    left: 1210px;
    top: 540px;

}

.go-to-top:hover {
    opacity: 0.7;
}

.top-icon {
    margin-left: 6.5px;
    position: absolute;
    top: 7px;
}

.heading-porsion {
    background-color: #F6F9FF;
    width: 570px;
    padding-top: 30px;
}

.heading3 {
    margin-left: 40px;
    color: #4170F5;
    font-family: "Nunito", sans-serif;
}

.heading-2 {
    margin-left: 40px;
    color: #012970;
    font-family: "Nunito", sans-serif;
}



.para2 {

    margin-left: 40px;
    font-size: 17px;
    color: #444444;
    line-height: 1.5;
    font-family: "Nunito", sans-serif;

}

.technologies-0 {

    text-align: center;
    color: #4154F1;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 5px 0px;
}


.technologies {
    text-align: center;
    color: #4154F1;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    margin: 0px;
    padding: 0px 0px 5px 0px;
}

.technologies2 {
    text-align: center;
    color: #4154F1;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    margin: 0px;
    padding: 0px 0px 5px 0px;
}

.we-have {
    text-align: center;
    color: #012970;
    font-family: "Nunito", sans-serif;
    font-size: 38px;
    font-weight: 500px;
    margin: 0px;
    padding: 0px;

}

.codes-lang-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    gap: 40px;
}

.card1 {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    height: 430px;
    width: 344.8px;
    border-bottom: 3px solid #2DB6FA;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgb(243, 242, 242);
}



.card1:hover {
    background-color: #2DB6FA;
    transform: scale(1);
    transition: all 0.5s ease;
}

.card1:hover .msg-box {
    background-color: white;
}

.card1:hover .card-heading {
    color: white;
}

.card1:hover .card-para {
    color: white;
}

.msg-box1 {
    height: 85px;
    width: 60px;
    border: none;
    padding-left: 19px;
    background-color: #ddf4ff;
    border-radius: 5px;
}

.card1:hover .msg-box1 {
    background-color: white;
}

.card2 {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    height: 430px;
    width: 344.8px;
    border-bottom: 3px solid #F68C09;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgb(243, 242, 242);
}

.msg-box2 {
    height: 85px;
    width: 60px;
    border: none;
    padding-left: 19px;
    background-color: #f9e8d1;
    border-radius: 5px;
}

.card2:hover .msg-box2 {
    background-color: white;
}

.card2:hover {
    background-color: #F68C09;
    transform: scale(1);
    transition: all 0.5s ease;
}

.card2:hover .msg-box {
    background-color: white;
}

.card2:hover .card-heading {
    color: white;
}

.card2:hover .card-para {
    color: white;
}

.card3 {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    height: 430px;
    width: 344.8px;
    border-bottom: 3px solid #08DA4E;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgb(243, 242, 242);
}

.msg-box3 {
    height: 85px;
    width: 60px;
    border: none;
    padding-left: 19px;
    background-color: #aff3c6;
    border-radius: 5px;
}

.card3:hover .msg-box3 {
    background-color: white;
}


.card3:hover {
    background-color: #08DA4E;
    transform: scale(1);
    transition: all 0.5s ease;
}


.card3:hover .msg-box {
    background-color: white;
}

.card3:hover .card-heading {
    color: white;
}

.card3:hover .card-para {
    color: white;
}

.card4 {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    height: 430px;
    width: 344.8px;
    border-bottom: 3px solid #E9222C;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgb(243, 242, 242);
}

.msg-box4 {
    height: 85px;
    width: 60px;
    border: none;
    padding-left: 19px;
    background-color: #fee8e9;
    border-radius: 5px;
}

.card4:hover .msg-box4 {
    background-color: white;
}

.card4:hover {
    background-color: #E9222C;
    transform: scale(1);
    transition: all 0.5s ease;
}

.card4:hover .msg-box {
    background-color: white;
}

.card4:hover .card-heading {
    color: white;
}

.card4:hover .card-para {
    color: white;
}


.card5 {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    height: 430px;
    width: 344.8px;
    border-bottom: 3px solid #B50EDF;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgb(243, 242, 242);
}

.msg-box5 {
    height: 85px;
    width: 60px;
    border: none;
    padding-left: 19px;
    background-color: #eeccf7;
    border-radius: 5px;
}

.card5:hover .msg-box5 {
    background-color: white;
}

.card5:hover {
    background-color: #B50EDF;
    transform: scale(1);
    transition: all 0.5s ease;
}

.card5:hover .msg-box {
    background-color: white;
}

.card5:hover .card-heading {
    color: white;
}

.card5:hover .card-para {
    color: white;
}

.card6 {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    height: 430px;
    width: 344.8px;
    border-bottom: 3px solid #F51F9C;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgb(243, 242, 242);
}

.msg-box6 {
    height: 85px;
    width: 60px;
    border: none;
    padding-left: 19px;
    background-color: #f7cae4;
    border-radius: 5px;
}

.card6:hover .msg-box6 {
    background-color: white;
}

.card6:hover {
    background-color: #F51F9C;
    transform: scale(1);
    transition: all 0.5s ease;
}

.card6:hover .msg-box {
    background-color: white;
}

.card6:hover .card-heading {
    color: white;
}

.card6:hover .card-para {
    color: white;
}

.card-heading {
    color: #444444;
    font-family: "Nunito", sans-serif;
    line-height: 35px;
}

.card-para {
    font-size: large;
    font-family: "Nunito", sans-serif;
    margin-top: 0px;
    padding: 0px;
    color: rgb(86, 84, 84);

}

.more-info {
    font-size: large;
    font-family: sans-serif;
}

.card5:hover .more-info {
    color: white;
}


.card6:hover .more-info {
    color: white;
}


.container-what-sets {
    display: flex;

}

.btns-box {
    padding-top: 40px;
    border: none;
    width: 560px;
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

}

.btns {
    border: none;
    width: 250px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 1px 1px 20px rgb(232, 241, 248);
    display: flex;
    align-items: center;
    gap: 10px;

}

.btns:hover .svg-box-btn {
    background-color: #4154F1;
}

.btns:hover .svg-hover {
    fill: white;
}

.svg-box-btn {
    border: none;
    height: 30px;
    width: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #dde0f9;
}

.btn-name {
    color: #012970;
    font-family: "Nunito", sans-serif;
    font-size: larger;
    font-weight: 700;
}

.list {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    height: 50px;
}


.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 60px;
    font-family: sans-serif;
    color: #444444;
    font-size: larger;

}

.list-item:hover {
    border: 1px solid #4154F1;
    border-radius: 40px;
    cursor: pointer;
    color: #4154F1;

}

.main-cards {

    border: none;
    max-height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

}

.main-card {
    height: 350px;
    width: 350px;
    border: 1px solid gainsboro;
    position: relative;
    overflow: hidden;

}

.img-zoom {
    position: absolute;
    z-index: 10;
}

.img-zoom:hover {
    transform: scale(1.1);
    transition: all 0.8s ease;
    opacity: 0.1;

}

.card-wording {
    color: #012970;
    position: absolute;
    top: 80px;
    z-index: 15;
    left: 130px;
    font-family: "Nunito", sans-serif;
    display: none;
    cursor: pointer;
}

.main-card:hover .card-wording {
    display: block;

}


.card-paragraph {
    display: none;
    color: #012970;
    padding-bottom: 0px;
    position: absolute;
    z-index: 15;
    top: 140px;
    left: 14px;
    font-family: sans-serif;
}

.main-card:hover .card-paragraph {
    display: block;
}

.card-paragraph-line-2 {
    display: none;
    color: #012970;
    padding-bottom: 0px;
    line-height: 20px;
    position: absolute;
    z-index: 15;
    top: 160px;
    left: 30px;
    font-family: sans-serif;
}

.main-card:hover .card-paragraph-line-2 {
    display: block;
}

.plus-svg-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #4154F1;
    position: absolute;
    top: 190px;
    left: 128px;
    z-index: 15;
    cursor: pointer;
    display: none;
}

.main-card:hover .plus-svg-1 {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-svg-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #4154F1;
    position: absolute;
    top: 190px;
    left: 178px;
    z-index: 15;
    cursor: pointer;
    display: none;
}


.main-card:hover .plus-svg-2 {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-card {
    display: flex;
    justify-content: center;
    gap: 70px;
    height: 500px;
    border: none;
}

.end-cards1 {
    max-height: 450px;
    min-height: min-content;
    width: 300px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(201, 200, 200);
    opacity: 0.3;
}

.end-cards2 {
    max-height: 450px;
    min-height: min-content;
    width: 300px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(232, 232, 232);
}



.star-svg {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.end-cards-para-box {
    border: none;
    width: 250px;
    margin-bottom: 20px;
}



.end-cards-para {
    font-size: 15px;
    color: #444444;
    font-family: "Nunito", sans-serif;

}

.end-card-pro {
    background-image: url('https://expertizo.pk/assets/img/testimonials/testimonials-5.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
}

.end-card-pro-2 {
    background-image: url('https://expertizo.pk/assets/img/testimonials/testimonials-1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
}

.end-card-pro-3 {
    background-image: url('https://expertizo.pk/assets/img/testimonials/testimonials-4.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
}



.name-card {
    color: #444444;
    font-family: "Nunito", sans-serif;
    font-weight: 700;

}

.end-word {
    font-size: 13px;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    color: gray;
}

.last-card {
    border: none;
    height: 650px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.last-cards {
    border: none;
    height: 650px;
    width: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 5px gainsboro;
}

.last-cards:hover .last-card-img {
    transform: scale(0.8);
    transition: all 0.9s ease;
}

.last-cards:hover {
    box-shadow: 1px 1px 10px rgb(209, 208, 208);
    transform: scale(1);
    transition: all 0.5s ease;
}

.last-cards-main {
    border: none;
    height: 650px;
    width: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 5px gainsboro;
}

.internship {
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-bottom: 0px;
    padding-bottom: 1px;

}

.self {
    font-family: "Nunito", sans-serif;
    font-size: large;
    font-weight: 800;
    color: white;
}

.border {
    background-color: #4154F1;
    border-radius: 30px;
    height: 30px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.last-card-para {
    margin-left: 20px;
    font-family: "Nunito", sans-serif;
    font-size: large;
}

.apply-now {
    font-size: large;
    font-family: "Nunito", sans-serif;
    color: #4154F1;
}

.apply-box {
    position: relative;
    margin-top: 30px;
    margin-right: 40px;

}

.apply-box1 {
    position: relative;
    margin-top: 5px;
    margin-right: 40px;

}

.svg-last {
    position: absolute;
    top: 3px;
    left: 105px;
}

.business-heading {

    margin-left: 50px;
    font-family: "Nunito", sans-serif;
    font-size: larger;
    color: #012970;
}

.border-2nd {
    background-color: #4154F1;
    color: white;
    border-radius: 30px;
    font-size: large;
    height: 30px;
    padding: 2px 10px 2px 10px;

}

.contact-step {
    height: 500px;
    border: none;
    display: flex;
    justify-content: center;
}

.address-box {
    border: none;
    height: 500px;
    width: 50%;
    display: flex;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.box-contact {
    height: 220px;
    width: 250px;
    border: none;
    background-color: #FAFBFF;
}

.location-svg {
    margin-top: 27px;
    margin-left: 30px;
}

.address {
    font-family: "Nunito", sans-serif;
    color: #012970;
    margin: 10px 0px 0px 27px;
}

.address-para {
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    color: #444444;
    margin-left: 27px;
}

.form-box {
    border: none;
    height: 480px;
    width: 50%;
    background-color: #FAFBFF;
}

.first-input {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.inputs {
    height: 40px;
    width: 210px;
    border: 1px solid rgb(193, 192, 192);
    margin-top: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs:focus-within {
    border: 1px solid #4154F1;
}

.subject-input {
    border: 1px solid rgb(193, 192, 192);
    height: 40px;
    width: 461px;
    background-color: white;
    margin-top: 20px;
    margin-left: 48px;

}

.subject-input:focus-within {
    border: 1px solid #4154F1;
}

.text-area {
    margin-left: 48px;
    margin-top: 20px;
}

textarea {
    height: 150px;
    width: 459px;
    outline: none;
    padding-left: 20px;
    padding-top: 10px;
    border: 1px solid rgb(193, 192, 192);
}

textarea:focus-within {
    border: 1px solid #4154F1;
}

.btn-message {
    margin-left: 210px;
    margin-top: 30px;
    height: 45px;
    width: 160px;
    font-size: 17px;
    font-family: "Nunito", sans-serif;
    color: white;
    background-color: #4154F1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-message:hover {
    background-color: #4170F5;
    transform: scale(1);
    transition: all 0.5s ease;
}

.last-search-bar {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;

}

.search-bar {
    height: 50px;
    width: 500px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}


.btn-subscirbe {
    height: 45px;
    width: 120px;
    font-size: 17px;
    font-family: "Nunito", sans-serif;
    color: white;
    background-color: #4154F1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-subscirbe:hover {
    background-color: #4170F5;
    transform: scale(1);
    transition: all 0.5s ease;
}


.map-step {
    display: flex;
    justify-content: space-between;
    border: none;
    height: 400px;
}

.map-para1 {
    padding-top: 50px;
    border: none;
    width: 35%;
}


.map-para {
    color: #7a7a7a;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
}

.fb-hover:hover {
    fill: #012970;
    transform: scale(1);
    transition: all 0.5s ease;
    cursor: pointer;
}

.map-para2 {
    background-image: url('https://cdn.wallpapersafari.com/89/46/txmrM7.gif');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    width: 65%;
    display: flex;
    padding-left: 50px;

}

.map-list {
    padding-top: 30px;
    border: none;
    width: 250px;
}

.list-heading {
    font-family: "Nunito", sans-serif;
    color: #012970;
}

.greterthen {
    color: #7a7a7a;
    font-size: 12px;
}

.list-para {
    color: #012970;
    font-family: "Nunito", sans-serif;
}

.list-para:hover {
    color: #4154F1;
    cursor: pointer;
}

.list-para2 {
    color: #646464;
    font-family: "Nunito", sans-serif;
}


.last-header {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #bdcefd;
    background-color: #F6F9FF;
    height: 100px;
}

.last-header-para {
    color: #012970;
    font-family: "Nunito", sans-serif;
    line-height: 0px;
}

.last-word {
    color: #4154F1;
    font-family: "Nunito", sans-serif;
}

.last-word:hover {
    color: #7595eb;
    cursor: pointer;
}





@media screen and (max-width: 600px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;

    }

    .box-1 {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin: 0px auto;

    }

    .img-set-media {
        margin-top: 50px;
    }

    .box-2 {

        display: flex;
        border: none;
        flex-direction: column;
        width: 600px;
        margin: 350px auto 0px auto;

    }

    .img-set-media-2 {
        width: 570px;
    }


    .codes-lang-svg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 120px;
    }

    .go-to-top {
        position: sticky;
        border: none;
        border-radius: 5px;
        background-color: #4154F1;
        height: 40px;
        width: 40px;
        left: 70px;

    }

    .card-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        border: none;
        gap: 40px;
        width: 350px;
        margin: 0px auto;
    }

    .container-what-sets {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin: 0px auto;

    }

    .btns-box {
        padding-top: 40px;
        border: none;
        width: 600px;
        max-height: max-content;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

    }

    .btns {
        border: none;
        width: 500px;
        height: 80px;
        background-color: #FFFFFF;
        border-radius: 2px;
        box-shadow: 1px 1px 20px rgb(232, 241, 248);
        display: flex;
        align-items: center;
        gap: 10px;

    }

    .technologies {
        text-align: center;
        color: #4154F1;
        font-weight: 500;
        font-family: "Nunito", sans-serif;
        margin: 2px 0px 0px 0px;
        padding: 0px 0px 5px 0px;
    }

    .technologies-0 {

        text-align: center;
        color: #4154F1;
        font-weight: 500;
        font-family: "Nunito", sans-serif;
        margin: 200px 0px 0px 0px;
        padding: 0px 0px 5px 0px;
    }


    .technologies2 {

        text-align: center;
        color: #4154F1;
        font-weight: 500;
        font-family: "Nunito", sans-serif;
        margin: 500px 0px 0px 0px;
        padding: 0px 0px 5px 0px;
    }

    .technologies3 {
        text-align: center;
        color: #4154F1;
        font-weight: 500;
        font-family: "Nunito", sans-serif;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 5px 0px;
    }

    .main-cards {

        border: none;
        max-height: max-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        width: 350px;
        margin: 0px auto;

    }

    .last-card {
        border: none;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        margin-top: 600px;
        width: 600px;
        margin-left: 390px;

    }

    .contact-step {
        height: 500px;
        border: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
        margin-left: 350px;
        width: 800px;

    }

    .form-box {
        border: none;
        height: 500px;
        width: 52%;
        background-color: #FAFBFF;
        margin-top: 500px;
        padding-bottom: 20px;
    }

    .address-box {
        border: none;
        height: 500px;
        width: 400px;
        display: flex;
        gap: 25px;
        flex-direction: row;
        justify-content: center;
        margin-top: 700px;

    }

    .box-contact {
        height: 220px;
        width: 900px;
        border: none;
        background-color: #FAFBFF;
    }

    .last-search-bar {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Nunito", sans-serif;
        margin-top: 800px;

    }

    .first-input {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
        margin-left: 45px;

    }

    .inputs {
        display: flex;
        justify-content: left;
        width: 300px;
        padding-left: 20px;
    }

    .media-input {
        margin-left: 20px;
    }

    textarea {
        height: 150px;
        width: 300px;
        outline: none;
        padding-left: 20px;
        padding-top: 10px;
        border: 1px solid rgb(193, 192, 192);
    }

    .subject-input {
        border: 1px solid rgb(193, 192, 192);
        height: 40px;
        width: 320px;
        background-color: white;
        margin-top: 20px;
        margin-left: 48px;

    }

    .btn-message {
        margin-left: 125px;
        margin-top: 10px;
        height: 45px;
        width: 160px;
        font-size: 17px;
        font-family: "Nunito", sans-serif;
        color: white;
        background-color: #4154F1;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .search-bar {
        height: 50px;
        width: 330px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
    }

    .map-step {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: none;
        height: 400px;
        width: 600px;
        margin: 200px auto 0px auto;
    }

    .last-header {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #bdcefd;
        background-color: #F6F9FF;
        height: 100px;
        margin-top: 200px;
    }


}